.cart {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 20%;
    max-width: 30%;
    max-height: 60%;
    background-color: var(--light);
    overflow: auto;
    padding: .5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .5);
    border-bottom-left-radius: .5rem;
    z-index: 2;

  }
  
  .cart h2 {
    font-size: 1.5rem;
    border-bottom: 1px solid var(--dark);
    padding-bottom: .5rem;
    margin: 1rem 0;
  }
  
  .cart .close {
    position: absolute;
    top: .5rem;
    right: .5rem;
    cursor: pointer;
    color: var(--tertiary);
  }
  
  .cart .close:hover {
    text-decoration: underline;
  }
  
  .cart-closed {
    position: fixed;
    top: 2%;
    left: 1%;
    font-size: 2rem;
    cursor: pointer;
    background-color: var(--secondary);
    border-radius: 50%;
    padding: .25rem;
    width: 50px;
    height: 50px;
  }
  .cart-closed2{
    position: fixed;
    top: 2%;
    left: 1%;
    font-size: 2rem;
    cursor: pointer;
    background-color: var(--secondary);
    border-radius: 50%;
    padding: .25rem;
    width: 50px;
    height: 50px;
  }
  .cart-closed:hover {
    transform: rotate(8deg);
  }
  
  .cart img {
    width: 70px;
    margin-right: 1rem;
  }
  
  .cart input {
    width: 50px;
    padding: 0;
    margin: 0 .5rem 1rem 0;
  }
  
  @media screen and (max-width: 768px) {
    .cart {
      position: fixed;
      max-width: 100%;
      min-width: 50%;
      max-height: auto;
      box-shadow: none;
      background-color: inherit;
      font-size: 2rem;
    }
   .cart>*{
     font-size: 3rem;
   }
  
    .cart-closed {
      position: fixed;
      /* margin: 0 auto; */
      right: 85%;
      width: 12%;
      height: 8%;
      margin-left: 1rem;
    }
    .cart-closed2 {
      position: fixed;
      /* margin: 0 auto; */
      right: 85%;
      width: 14%;
      height: 8%;
      margin-left: 1rem;
    }
    
  }
  @media screen and (max-width: 375px) {
  .cart-closed2{
    top: 10%;
    left: 1%;

  }
  .cart-closed {
    position: fixed;
    /* margin: 0 auto; */
    right: 85%;
    width: 12%;
    height: 8%;
    margin-left: 1rem;
  }
}
  @media screen and (max-width: 414px) {
  .cart-closed2{
    top: 10%;
    left: 1%;

  }
  .cart-closed {
    position: fixed;
    /* margin: 0 auto; */
    right: 85%;
    width: 12%;
    height: 8%;
    margin-left: 1rem;
  }
}

@media screen and (max-width: 1024px) {
  .cart-closed{
    
    width:10%;
    height: 10%;

  }
}